.app {
    height: 100%;
}

.top-container {
    height: 10%;
    background-image: linear-gradient(#ABE7DB, #7CCDBD);
}

#logo {
    width: 25%;
    margin-left: 1em;
    margin-top: 1em;
}

.appointments-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 90%;
}

.appointment-educator {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 30%;
}

#profile-pic {
    width: 20%;
    border-radius: 20em;
    border: 2px solid white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.profile-name {
    color: #444444;
    font-size: .7em;
    font-weight: bold;
}

#ratings-pic {
    width: 20%;
}

.appointment-header {
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.appointment-header-text {
    color: #444444;
    margin: 0;
}

.appointment-form {
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}

.appointment-form-date {
}

.schedule-appointment-section {
    width: 100%;
    height: 15%;
}

.schedule-appointment-price {
    width: 100%;
    height: 33.333%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.schedule-appointment-button {
    width: 100%;
    height: 66.666%;
    background-image: linear-gradient(#ABE7DB, #7CCDBD);
    color: #444444;
    font-size: 1.5em;
    font-weight: bold;
    outline: none;
    border-radius: .25em;
}



