.app {
    height: 100%;
}

.app-component {
    height: 90%;
}

.top-container {
    height: 10%;
    background-image: linear-gradient(#ABE7DB, #7CCDBD);
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.1), 0 6px 10px 0 rgba(0, 0, 0, 0.1);
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo {
    width: 33%;
}

#home-page-logo {
    width: 25%;
    position: absolute;
    top: 2%;
    left: 3%;
}

#home-page-open-book {
    width: 17%;
    position: absolute;
    top: 33.333%;
}

.home-page-middle-images {
    position: absolute;
    bottom: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#home-page-column {
    width: 18%;
}

#home-page-mortarboard {
    width: 22%;
}

#home-page-glasses {
    width: 22%;
}

.home-page-v-bar { 
    border: none;
    border-left: 1px solid #ddd;
    height: 10vh;
    width: 1px;       
}

.home-page-middle-benefits {
    width: 100%;
    position: absolute;
    bottom: 24%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.home-page-middle-benefits-text {
    font-weight: bold;
    color: #0B557B;
}

.homepage-top-auth-button {
    position: absolute;
    top: 2.5%;
    right: 4%;
}

.top-container-pic-and-button-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.top-container-profile-pic {
    width: 30%;
    border-radius: 20em;
}

.top-container-button {
    margin-left: 1em;
}

.tutor-list-header {
    font-weight: bold;
    text-align: center;
    color: #444444;
}

.tutor-list {
    display: flex;
    justify-content: center;
}

.tutor-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.tutor-card-link {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tutor-card-profile-pic {
    width: 45%;
    border-radius: 20em;
    margin-bottom: 1em;
}

.appointment-list-header {
    font-weight: bold;
    color: #444444;
}

.home-page {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 50%;
}

.home-page-header {
    position: absolute;
    text-align: center;
    top: 15%;
    font-weight: bold;
    color: #0B557B;
}

.home-page-sub-header {
    width: 50%;
    position: absolute;
    text-align: center;
    top: 25%;
    /* font-weight: bold; */
    color: #0B557B;
}

.home-page-get-started-buttons {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    bottom: 5%;
    left: 0%;
}

.appointments-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.appointment-header {
    height: 6%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.appointment-header-text {
    color: #444444;
    margin: 0;
}

.appointment-educator {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 25%;
}

.profile-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.appointment-educator-profile-pic {
    width: 23%;
    height: 69%;
    border-radius: 100%;
    border: 2px solid white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: .5em;
}

.appointment-educator-profile-name {
    color: #444444;
    font-size: .7em;
    font-weight: bold;
}

.appointment-educator-ratings-pic {
    width: 20%;
}

.appointment-form-container {
    height: 65%;
    width: 100%;
}

.appointment-form {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.appointment-form>label {
    margin-left: 1em;
    font-weight: bold;
    color: #444444;
}

.appointment-form>input {
    margin-left: 1em;
    border-radius: .5em;
    height: 7.5%;
    width: 33%;
    padding-left: .25em;
}

.schedule-appointment-price {
    width: 100%;
    height: 7.5%;
    color: #444444;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em;
}

.schedule-appointment-button {
    width: 100%;
    height: 11.5%;
    background-image: linear-gradient(#ABE7DB, #7CCDBD);
    border: none;
    color: #444444;
    font-size: 1.5em;
    font-weight: bold;
    outline: none;
    border-radius: .25em;
}

@media screen and (min-width: 768px) {
    #logo {
        width: 27.5%;
    }

    .top-container-profile-pic {
        width: 21.5%;
    }

    .top-container-button {
        margin-left: 1.5em;
    }
}


